<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="privatesettings.config">
    <!--
      Enter your Azure storage connection string as below, into your own privatesettings.config (this file is added to .gitignore for privacy reasons)
      See privatesettings.config.example for the template
      A post-build action copies this file to the output directory
      
      <appSettings>
          <add key="StorageConnectionString" value=""/>
      </appSettings>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
